@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F5F5F5;
}

.blogListsAsidePart:last-child {
    border-radius: 0px 0px 12px 12px;
}

.blogListsAsidePart:first-child {
    border-radius: 12px 12px 0px 0px;
}

#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 30px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet{
    background-color: red !important;
}
.socialFooter{
    width: 20%;
    height: 15px;
    .socialNamesFooter{
        display: none;
    }
    &:hover{
        .socialNamesFooter{
            display: block;
            transition: all .3s;
        }
    }
}
.cursorInputPost{
    font-size: 30px;
}